html {
  background-color: rgba(67, 68, 68);
}

.Chart-main div label{
  visibility: hidden;
}

.Chart-main div select{
  visibility: hidden;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 20px;
  border-radius: 5px
}

.App-link {
  color: #61dafb;
}

.navBar {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  background-image: url('../images/dark_pattern.jpg');
}

.navBar h1{
  background-color: rgb(255, 255, 255);
  background-color: #61dafb;
  border-style: solid;
}

.navBar div {
  background-color: #61dafb;
  display: inline-block;
  padding: 0px 20px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
}

.navBar div a {
  padding: 10px;
  color:black;
}

.Chart-main {
  background-color: azure;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  margin: 20px;
}

.Articles {
  text-align: center; 
}

.Article {
  background-color: azure;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  margin: 10px;
  width: 90%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center; 
}

.Article img {
  width: 100%;
  height: auto+3px;
}

.Article a {
  text-decoration: none;
}

.Article a p {
  text-align: left;
  padding: 10px;
}

.Article-Text {
  background-color: azure;
  color: black;
}

@media screen and (min-width: 500px) {
  body {
    background-color: rgb(16, 17, 17, 0.842);
  }
  
  .Article {
    width: 40%;
  }
}


