html {
  background-color: rgba(67, 68, 68);
}

.Chart-main div label{
  visibility: hidden;
}

.Chart-main div select{
  visibility: hidden;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 20px;
  border-radius: 5px
}

.App-link {
  color: #61dafb;
}

.navBar {
  border-style: solid;
  background-image: url('../images/dark_pattern.jpg');
  text-align: right;
}

.navBar h1{
  background-color: transparent;
  padding: 10px 20px;
  color:white;
  text-align: center;
}

.navBar div {
  /* background-color: #61dafb; */
  display: inline-block;
  /* padding: 0px 20px; */
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: #61dafb;
  width: 100%;
}

.navBar div a {
  background-color: #61dafb;
  padding: 10px;
  /* margin: 20px; */
  /* color:red; */
  text-decoration: none;
}

.navBar div a:hover {
  padding: 10px;
  text-decoration: none;
  background-color: azure;
  /* margin: 20px; */
  color: rgb(68, 0, 255);
}

.Chart-main {
  background-color: azure;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  margin: 20px;
}

.Articles {
  text-align: center; 
}

.Article {
  background-color: azure;
  border-radius: 3px;
  border-color: azure rgb(0, 0, 0);
  border-style: solid;
  margin: 10px;
  width: 80%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-width: thin;
}

.Article img {
  width: 100%;
  height: auto;
}

.Article a {
  text-decoration: none;
}

.Article a h4 {
  background-color: azure;
  padding: 10px;
  margin: 0px;
}

.Article a p {
  text-align: left;
  padding: 10px;
}

.Article-Text {
  background-color: azure;
  color: black;
}

@media screen and (min-width: 500px) {
  body {
    background-color: rgb(16, 17, 17, 0.842);
  }
  
  .Article {
    width: 40%;
  }
}


