html {
  background-color: #282c34;
}

.Chart-main {
  background-color: azure;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  margin: 20px;
}

.Chart-main h4{
  margin-top: 10px;
  text-align: left;
  padding: 10px;
  margin: 0px;
}

.Chart-main div label{
  display: none;
}

.Chart-main div select{
  display: none;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px);
  color: white;
  margin: 20px;
  border-radius: 1px
}

.App-link {
  color: #61dafb;
}

.navBar {
  border-style: solid;
  background-image: url('../images/dark_pattern.jpg');
  text-align: right;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
}

.navBar h1{
  padding: 10px 20px;
  color:white;
  text-align: center;
}

.navBar div {
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: #61dafb;
  width: 100%;
}

.navBar div a {
  padding: 10px;
  margin-right: 20px;
  background-color: azure;
  border-radius: 10px;
  text-decoration: none;
}

.navBar div a:hover {
  padding: 10px;
  background-color: #61dafb;
  color: rgb(68, 0, 255);
}

.Articles {
  text-align: center; 
}

.Article {
  background-color: azure;
  border-radius: 3px;
  border-color: azure rgb(0, 0, 0);
  border-style: solid;
  margin: 10px;
  width: 80%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-width: thin;
}

.Article img {
  width: 100%;
  height: auto;
}

.Article a {
  text-decoration: none;
}

.Article a h4 {
  background-color: rgb(206, 250, 250);
  padding-top: 10px;
  margin: 0px;
  padding: 10px;
}

.Article a p {
  text-align: left;
  padding: 10px;
}

.Article-Text {
  background-color: azure;
  color: black;
}

@media screen and (min-width: 500px) {
  body {
    background-color: rgb(16, 17, 17, 0.842);
  }
  
  .Article {
    width: 40%;
  }

  .navBar div {
    background-color: azure;
  }

  .navBar div a {
    background-color: #70e0ff;
    color: black;
    padding: 10px;
    text-decoration: none;
    display: inline
  }

  .navBar div a:hover {
    background-color: azure;
  }

}


