html {
  background-color: rgba(0, 235, 252, 0.842);
}

.App {
  /* text-align: center; */
}

.Chart-main div label{
  visibility: hidden;
}

.Chart-main div select{
  visibility: hidden;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 20px;
  border-radius: 5px
}

.App-link {
  color: #61dafb;
}


.navBar {
  background-color: rgb(255, 255, 255);
  /* border-radius: 5px; */
  /* border-color-bottom: rgb(0, 0, 0); */
  border-style: solid;
  /* margin: 20px; */
}

.navBar div {
  background-color: red;
  display: inline-block;
  padding: 0px 20px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  /* width: 80%; */
}

.navBar div a {
  /* margin-inline-start: 10%; */
}

.Chart-main {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  margin: 20px;
}

.Article {
  background-color: rgb(219, 227, 230);
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  margin: 20px;
  width: 40%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.Article img {
  width: 100%;
  height: auto;
}

.Article a {
  text-decoration: none;
}

.Article-Text {
  background-color: azure;
  color: black;
}

